<h1>Stupid Coach</h1>

<p><strong>You:</strong> <%= @question %></p>

<p class= 'coach'><strong>Your coach:</strong> <%= @answer %></p>

<p class= new_question><em><strong><%= link_to "Ask a new question", ask_path %></strong></em></p>
