
<div><h1>Stupid Coach</h1></div>

<div><p><strong>You:</strong> <%= @question %></p></div>

<div><p class= 'coach'><strong>Your coach:</strong> <%= @answer %></p><div>

<div><p class= new_question><em><%= link_to "Ask a new question", ask_path %></em></p></div>
