h1 {
  color: #EF8354;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p, h3 {
  color: #2D3142;
  margin: 4px;
  padding: 8px;
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.new_question {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
  width: 130px;
}

.coach {
  background-color: #BFC0C0;
}

.btn-submit {
  color: white;
  background-color: #4F5D75;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 2px;
  padding: 10px;
}

.typing {
  border-radius: 10px;
  padding: 10px;
}

div {
  margin: 6px;
  padding: 4px;
  width: 500px;
}

.form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  padding: 10px;
}

/* .container {
  display: flex;
  justify-content: center;
} */
