h1 {
  color: #EF8354;
  padding: 10px;
}

p {
  color: #2D3142;
  margin: 4px;
  padding: 10px;
}

.new_question {
  margin-top: 10px;
}

.coach {
  background-color: #BFC0C0;
}

.btn-submit {
  color: white;
  background-color: #4F5D75;
}

.typing {
  border-radius: 10px;
  padding: 10px;
}
